body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #3db2a4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.card {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register button {
    background: #6c5ce7;
}

.login button {
    background: #f39c12;
}

.social {
    margin-top: 15px;
}

.icons span {
    display: inline-block;
    background: #ddd;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}